<html>
<head>
<link rel="stylesheet" href="../styles.css" type="text/css" />
</head>
<body>

<div id="header">
	<div id="menu">
		<table>
			<tr>
				<td><a href="localhost:8080/onor">Home</a></td>
				<td><a href="http://www.strictlystartup.com">Blog</a></td>
				<td><a>Support</a></td>
				<td><a>About</a></td>
			</tr>
		</table>
	</div>
	
	<div id="banner">
		<span id= "title">Onor me </span><br />
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Save Money. Build Loyalty...
	</div>
	
	
</div>
<div id="content">
	<table width="100%">
		<tr width="100%">
			<td width="50%" location="merchantLogin">

			</td>
			<td width="50%" location="consumerLogin">
			</td>
		</tr>
		<tr>
		<td colspan = "2" id="signup"><a>Sign Up</a></td>
		</tr>
	</table>
</div>

<div id="footer">
© 2011 StrictlyStartup App Lab
</div>

</body>
</html>