<html>
<table width="100%" class="loyaltyCard">
	<tr>
		<td>Logo</td>
		<td>Business Name</td>
	</tr>
	<tr><td><br /></td><tr />
	<tr>
		<td rowspan = "3" location = "logo"></td>
		<td location = "name"></td>
	</tr>
	<tr>
		<td> Pick your Rewards Scheme conversion rate:</td>
	</tr>
	<tr>
		<td location = "scheme"></td>
	</tr>
	<tr><td><br /></td><tr />
	<tr>
		<td width="100%" colspan = "2" location = "description"></td>
	</tr>
	<tr><td><br /></td><tr />
	<tr>
		<td colspan = "2" align="right" location="buttonBar"></td>
	</tr>
</table>

</html>