<html>
<head>
<link rel="stylesheet" href="../styles.css" type="text/css" />
</head>
<body>

<div id="header">
	<div id="menu">
		<table>
			<tr>
				<td><a href="localhost:8080/onor">Home</a></td>
				<td><a href="http://www.strictlystartup.com">Blog</a></td>
				<td><a>Support</a></td>
				<td><a>About</a></td>
			</tr>
		</table>
	</div>
	<br />
	<div id="smallBanner">
		<span id= "title">Onor me </span><br />
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Save Money. Build Loyalty...
	</div>
	
</div>
<div id="content" location="content">
</div>

<div id="footer">
© 2011 StrictlyStartup App Lab
</div>

</body>
</html>